In [12]:
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')
import re

In [13]:
df = pd.read_csv('WetherForcasting.csv')
df

,Unnamed: 0,City,Date,Hour,Temperature,Feels Like,Wind Speed,Wind Direction,Humidity,Dew Point,Visibility,Probability of Precipitation,Rain,Snow
0,0,Pune,NaN,1:00,Showers late. Sunny.,29 °C,14 km/h,↑,71%,22%,0.6 mm,7 (High),6.26,18.18
1,1,Pune,NaN,2:00,Showers late. Sunny.,29 °C,14 km/h,↑,71%,22%,0.6 mm,7 (High),6.26,18.18
2,2,Pune,NaN,3:00,Showers late. Sunny.,29 °C,14 km/h,↑,71%,22%,0.6 mm,7 (High),6.26,18.18
3,3,Pune,NaN,4:00,Showers late. Sunny.,29 °C,14 km/h,↑,71%,22%,0.6 mm,7 (High),6.26,18.18
4,4,Pune,NaN,5:00,Showers late. Sunny.,29 °C,14 km/h,↑,71%,22%,0.6 mm,7 (High),6.26,18.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,Mumbai,NaN,12:00,Sunny.,33 °C,12 km/h,↑,70%,11%,0.0 mm,7 (High),6.30,18.22
396,396,Mumbai,NaN,13:00,Sunny.,33 °C,12 km/h,↑,70%,11%,0.0 mm,7 (High),6.30,18.22
397,397,Mumbai,NaN,14:00,Sunny.,33 °C,12 km/h,↑,70%,11%,0.0 mm,7 (High),6.30,18.22
398,398,Mumbai,NaN,15:00,Sunny.,33 °C,12 km/h,↑,70%,11%,0.0 mm,7 (High),6.30,18.22
399,399,Mumbai,NaN,16:00,Sunny.,33 °C,12 km/h,↑,70%,11%,0.0 mm,7 (High),6.30,18.22

In [14]:
df=df.drop(columns='Wind Direction')
df

,Unnamed: 0,City,Date,Hour,Temperature,Feels Like,Wind Speed,Humidity,Dew Point,Visibility,Probability of Precipitation,Rain,Snow
0,0,Pune,NaN,1:00,Showers late. Sunny.,29 °C,14 km/h,71%,22%,0.6 mm,7 (High),6.26,18.18
1,1,Pune,NaN,2:00,Showers late. Sunny.,29 °C,14 km/h,71%,22%,0.6 mm,7 (High),6.26,18.18
2,2,Pune,NaN,3:00,Showers late. Sunny.,29 °C,14 km/h,71%,22%,0.6 mm,7 (High),6.26,18.18
3,3,Pune,NaN,4:00,Showers late. Sunny.,29 °C,14 km/h,71%,22%,0.6 mm,7 (High),6.26,18.18
4,4,Pune,NaN,5:00,Showers late. Sunny.,29 °C,14 km/h,71%,22%,0.6 mm,7 (High),6.26,18.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,Mumbai,NaN,12:00,Sunny.,33 °C,12 km/h,70%,11%,0.0 mm,7 (High),6.30,18.22
396,396,Mumbai,NaN,13:00,Sunny.,33 °C,12 km/h,70%,11%,0.0 mm,7 (High),6.30,18.22
397,397,Mumbai,NaN,14:00,Sunny.,33 °C,12 km/h,70%,11%,0.0 mm,7 (High),6.30,18.22
398,398,Mumbai,NaN,15:00,Sunny.,33 °C,12 km/h,70%,11%,0.0 mm,7 (High),6.30,18.22
399,399,Mumbai,NaN,16:00,Sunny.,33 °C,12 km/h,70%,11%,0.0 mm,7 (High),6.30,18.22

In [15]:
df.rename(columns={'Feels Like':'Feels_Like °C'},inplace=True)
df

,Unnamed: 0,City,Date,Hour,Temperature,Feels_Like °C,Wind Speed,Humidity,Dew Point,Visibility,Probability of Precipitation,Rain,Snow
0,0,Pune,NaN,1:00,Showers late. Sunny.,29 °C,14 km/h,71%,22%,0.6 mm,7 (High),6.26,18.18
1,1,Pune,NaN,2:00,Showers late. Sunny.,29 °C,14 km/h,71%,22%,0.6 mm,7 (High),6.26,18.18
2,2,Pune,NaN,3:00,Showers late. Sunny.,29 °C,14 km/h,71%,22%,0.6 mm,7 (High),6.26,18.18
3,3,Pune,NaN,4:00,Showers late. Sunny.,29 °C,14 km/h,71%,22%,0.6 mm,7 (High),6.26,18.18
4,4,Pune,NaN,5:00,Showers late. Sunny.,29 °C,14 km/h,71%,22%,0.6 mm,7 (High),6.26,18.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,Mumbai,NaN,12:00,Sunny.,33 °C,12 km/h,70%,11%,0.0 mm,7 (High),6.30,18.22
396,396,Mumbai,NaN,13:00,Sunny.,33 °C,12 km/h,70%,11%,0.0 mm,7 (High),6.30,18.22
397,397,Mumbai,NaN,14:00,Sunny.,33 °C,12 km/h,70%,11%,0.0 mm,7 (High),6.30,18.22
398,398,Mumbai,NaN,15:00,Sunny.,33 °C,12 km/h,70%,11%,0.0 mm,7 (High),6.30,18.22
399,399,Mumbai,NaN,16:00,Sunny.,33 °C,12 km/h,70%,11%,0.0 mm,7 (High),6.30,18.22

In [16]:
df.rename(columns={'Wind Speed':'Wind_Speed_km/h'},inplace=True)
df

,Unnamed: 0,City,Date,Hour,Temperature,Feels_Like °C,Wind_Speed_km/h,Humidity,Dew Point,Visibility,Probability of Precipitation,Rain,Snow
0,0,Pune,NaN,1:00,Showers late. Sunny.,29 °C,14 km/h,71%,22%,0.6 mm,7 (High),6.26,18.18
1,1,Pune,NaN,2:00,Showers late. Sunny.,29 °C,14 km/h,71%,22%,0.6 mm,7 (High),6.26,18.18
2,2,Pune,NaN,3:00,Showers late. Sunny.,29 °C,14 km/h,71%,22%,0.6 mm,7 (High),6.26,18.18
3,3,Pune,NaN,4:00,Showers late. Sunny.,29 °C,14 km/h,71%,22%,0.6 mm,7 (High),6.26,18.18
4,4,Pune,NaN,5:00,Showers late. Sunny.,29 °C,14 km/h,71%,22%,0.6 mm,7 (High),6.26,18.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,Mumbai,NaN,12:00,Sunny.,33 °C,12 km/h,70%,11%,0.0 mm,7 (High),6.30,18.22
396,396,Mumbai,NaN,13:00,Sunny.,33 °C,12 km/h,70%,11%,0.0 mm,7 (High),6.30,18.22
397,397,Mumbai,NaN,14:00,Sunny.,33 °C,12 km/h,70%,11%,0.0 mm,7 (High),6.30,18.22
398,398,Mumbai,NaN,15:00,Sunny.,33 °C,12 km/h,70%,11%,0.0 mm,7 (High),6.30,18.22
399,399,Mumbai,NaN,16:00,Sunny.,33 °C,12 km/h,70%,11%,0.0 mm,7 (High),6.30,18.22

In [17]:
df['Feels_Like °C'] = pd.to_numeric(df['Feels_Like °C'].astype(str).str.replace(r"[^0-9\-]", "", regex=True),errors='coerce').astype('Int64')
df

,Unnamed: 0,City,Date,Hour,Temperature,Feels_Like °C,Wind_Speed_km/h,Humidity,Dew Point,Visibility,Probability of Precipitation,Rain,Snow
0,0,Pune,NaN,1:00,Showers late. Sunny.,29,14 km/h,71%,22%,0.6 mm,7 (High),6.26,18.18
1,1,Pune,NaN,2:00,Showers late. Sunny.,29,14 km/h,71%,22%,0.6 mm,7 (High),6.26,18.18
2,2,Pune,NaN,3:00,Showers late. Sunny.,29,14 km/h,71%,22%,0.6 mm,7 (High),6.26,18.18
3,3,Pune,NaN,4:00,Showers late. Sunny.,29,14 km/h,71%,22%,0.6 mm,7 (High),6.26,18.18
4,4,Pune,NaN,5:00,Showers late. Sunny.,29,14 km/h,71%,22%,0.6 mm,7 (High),6.26,18.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,Mumbai,NaN,12:00,Sunny.,33,12 km/h,70%,11%,0.0 mm,7 (High),6.30,18.22
396,396,Mumbai,NaN,13:00,Sunny.,33,12 km/h,70%,11%,0.0 mm,7 (High),6.30,18.22
397,397,Mumbai,NaN,14:00,Sunny.,33,12 km/h,70%,11%,0.0 mm,7 (High),6.30,18.22
398,398,Mumbai,NaN,15:00,Sunny.,33,12 km/h,70%,11%,0.0 mm,7 (High),6.30,18.22
399,399,Mumbai,NaN,16:00,Sunny.,33,12 km/h,70%,11%,0.0 mm,7 (High),6.30,18.22

In [18]:
df['Wind_Speed_km/h'] = pd.to_numeric(df['Wind_Speed_km/h'].astype(str).str.replace(r"[^0-9\-]", "", regex=True),errors='coerce').astype('Int64')
df

,Unnamed: 0,City,Date,Hour,Temperature,Feels_Like °C,Wind_Speed_km/h,Humidity,Dew Point,Visibility,Probability of Precipitation,Rain,Snow
0,0,Pune,NaN,1:00,Showers late. Sunny.,29,14,71%,22%,0.6 mm,7 (High),6.26,18.18
1,1,Pune,NaN,2:00,Showers late. Sunny.,29,14,71%,22%,0.6 mm,7 (High),6.26,18.18
2,2,Pune,NaN,3:00,Showers late. Sunny.,29,14,71%,22%,0.6 mm,7 (High),6.26,18.18
3,3,Pune,NaN,4:00,Showers late. Sunny.,29,14,71%,22%,0.6 mm,7 (High),6.26,18.18
4,4,Pune,NaN,5:00,Showers late. Sunny.,29,14,71%,22%,0.6 mm,7 (High),6.26,18.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,Mumbai,NaN,12:00,Sunny.,33,12,70%,11%,0.0 mm,7 (High),6.30,18.22
396,396,Mumbai,NaN,13:00,Sunny.,33,12,70%,11%,0.0 mm,7 (High),6.30,18.22
397,397,Mumbai,NaN,14:00,Sunny.,33,12,70%,11%,0.0 mm,7 (High),6.30,18.22
398,398,Mumbai,NaN,15:00,Sunny.,33,12,70%,11%,0.0 mm,7 (High),6.30,18.22
399,399,Mumbai,NaN,16:00,Sunny.,33,12,70%,11%,0.0 mm,7 (High),6.30,18.22

In [19]:
df.rename(columns={'Humidity':'Humidity%'},inplace=True)
df

,Unnamed: 0,City,Date,Hour,Temperature,Feels_Like °C,Wind_Speed_km/h,Humidity%,Dew Point,Visibility,Probability of Precipitation,Rain,Snow
0,0,Pune,NaN,1:00,Showers late. Sunny.,29,14,71%,22%,0.6 mm,7 (High),6.26,18.18
1,1,Pune,NaN,2:00,Showers late. Sunny.,29,14,71%,22%,0.6 mm,7 (High),6.26,18.18
2,2,Pune,NaN,3:00,Showers late. Sunny.,29,14,71%,22%,0.6 mm,7 (High),6.26,18.18
3,3,Pune,NaN,4:00,Showers late. Sunny.,29,14,71%,22%,0.6 mm,7 (High),6.26,18.18
4,4,Pune,NaN,5:00,Showers late. Sunny.,29,14,71%,22%,0.6 mm,7 (High),6.26,18.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,Mumbai,NaN,12:00,Sunny.,33,12,70%,11%,0.0 mm,7 (High),6.30,18.22
396,396,Mumbai,NaN,13:00,Sunny.,33,12,70%,11%,0.0 mm,7 (High),6.30,18.22
397,397,Mumbai,NaN,14:00,Sunny.,33,12,70%,11%,0.0 mm,7 (High),6.30,18.22
398,398,Mumbai,NaN,15:00,Sunny.,33,12,70%,11%,0.0 mm,7 (High),6.30,18.22
399,399,Mumbai,NaN,16:00,Sunny.,33,12,70%,11%,0.0 mm,7 (High),6.30,18.22

In [20]:
df.rename(columns={'Dew Point':'Dew_Point_%'},inplace=True)
df

,Unnamed: 0,City,Date,Hour,Temperature,Feels_Like °C,Wind_Speed_km/h,Humidity%,Dew_Point_%,Visibility,Probability of Precipitation,Rain,Snow
0,0,Pune,NaN,1:00,Showers late. Sunny.,29,14,71%,22%,0.6 mm,7 (High),6.26,18.18
1,1,Pune,NaN,2:00,Showers late. Sunny.,29,14,71%,22%,0.6 mm,7 (High),6.26,18.18
2,2,Pune,NaN,3:00,Showers late. Sunny.,29,14,71%,22%,0.6 mm,7 (High),6.26,18.18
3,3,Pune,NaN,4:00,Showers late. Sunny.,29,14,71%,22%,0.6 mm,7 (High),6.26,18.18
4,4,Pune,NaN,5:00,Showers late. Sunny.,29,14,71%,22%,0.6 mm,7 (High),6.26,18.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,Mumbai,NaN,12:00,Sunny.,33,12,70%,11%,0.0 mm,7 (High),6.30,18.22
396,396,Mumbai,NaN,13:00,Sunny.,33,12,70%,11%,0.0 mm,7 (High),6.30,18.22
397,397,Mumbai,NaN,14:00,Sunny.,33,12,70%,11%,0.0 mm,7 (High),6.30,18.22
398,398,Mumbai,NaN,15:00,Sunny.,33,12,70%,11%,0.0 mm,7 (High),6.30,18.22
399,399,Mumbai,NaN,16:00,Sunny.,33,12,70%,11%,0.0 mm,7 (High),6.30,18.22

In [21]:
df['Dew_Point_%'] = (df['Dew_Point_%'].astype(str).str.replace('%', '', regex=False).str.strip())
df

,Unnamed: 0,City,Date,Hour,Temperature,Feels_Like °C,Wind_Speed_km/h,Humidity%,Dew_Point_%,Visibility,Probability of Precipitation,Rain,Snow
0,0,Pune,NaN,1:00,Showers late. Sunny.,29,14,71%,22,0.6 mm,7 (High),6.26,18.18
1,1,Pune,NaN,2:00,Showers late. Sunny.,29,14,71%,22,0.6 mm,7 (High),6.26,18.18
2,2,Pune,NaN,3:00,Showers late. Sunny.,29,14,71%,22,0.6 mm,7 (High),6.26,18.18
3,3,Pune,NaN,4:00,Showers late. Sunny.,29,14,71%,22,0.6 mm,7 (High),6.26,18.18
4,4,Pune,NaN,5:00,Showers late. Sunny.,29,14,71%,22,0.6 mm,7 (High),6.26,18.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,Mumbai,NaN,12:00,Sunny.,33,12,70%,11,0.0 mm,7 (High),6.30,18.22
396,396,Mumbai,NaN,13:00,Sunny.,33,12,70%,11,0.0 mm,7 (High),6.30,18.22
397,397,Mumbai,NaN,14:00,Sunny.,33,12,70%,11,0.0 mm,7 (High),6.30,18.22
398,398,Mumbai,NaN,15:00,Sunny.,33,12,70%,11,0.0 mm,7 (High),6.30,18.22
399,399,Mumbai,NaN,16:00,Sunny.,33,12,70%,11,0.0 mm,7 (High),6.30,18.22

In [22]:
df['Humidity%'] = (df['Humidity%'].astype(str).str.replace('%', '', regex=False).str.strip())
df

,Unnamed: 0,City,Date,Hour,Temperature,Feels_Like °C,Wind_Speed_km/h,Humidity%,Dew_Point_%,Visibility,Probability of Precipitation,Rain,Snow
0,0,Pune,NaN,1:00,Showers late. Sunny.,29,14,71,22,0.6 mm,7 (High),6.26,18.18
1,1,Pune,NaN,2:00,Showers late. Sunny.,29,14,71,22,0.6 mm,7 (High),6.26,18.18
2,2,Pune,NaN,3:00,Showers late. Sunny.,29,14,71,22,0.6 mm,7 (High),6.26,18.18
3,3,Pune,NaN,4:00,Showers late. Sunny.,29,14,71,22,0.6 mm,7 (High),6.26,18.18
4,4,Pune,NaN,5:00,Showers late. Sunny.,29,14,71,22,0.6 mm,7 (High),6.26,18.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,Mumbai,NaN,12:00,Sunny.,33,12,70,11,0.0 mm,7 (High),6.30,18.22
396,396,Mumbai,NaN,13:00,Sunny.,33,12,70,11,0.0 mm,7 (High),6.30,18.22
397,397,Mumbai,NaN,14:00,Sunny.,33,12,70,11,0.0 mm,7 (High),6.30,18.22
398,398,Mumbai,NaN,15:00,Sunny.,33,12,70,11,0.0 mm,7 (High),6.30,18.22
399,399,Mumbai,NaN,16:00,Sunny.,33,12,70,11,0.0 mm,7 (High),6.30,18.22

In [23]:
df.rename(columns={'Visibility': 'Visibility_mm'}, inplace=True)
df

,Unnamed: 0,City,Date,Hour,Temperature,Feels_Like °C,Wind_Speed_km/h,Humidity%,Dew_Point_%,Visibility_mm,Probability of Precipitation,Rain,Snow
0,0,Pune,NaN,1:00,Showers late. Sunny.,29,14,71,22,0.6 mm,7 (High),6.26,18.18
1,1,Pune,NaN,2:00,Showers late. Sunny.,29,14,71,22,0.6 mm,7 (High),6.26,18.18
2,2,Pune,NaN,3:00,Showers late. Sunny.,29,14,71,22,0.6 mm,7 (High),6.26,18.18
3,3,Pune,NaN,4:00,Showers late. Sunny.,29,14,71,22,0.6 mm,7 (High),6.26,18.18
4,4,Pune,NaN,5:00,Showers late. Sunny.,29,14,71,22,0.6 mm,7 (High),6.26,18.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,Mumbai,NaN,12:00,Sunny.,33,12,70,11,0.0 mm,7 (High),6.30,18.22
396,396,Mumbai,NaN,13:00,Sunny.,33,12,70,11,0.0 mm,7 (High),6.30,18.22
397,397,Mumbai,NaN,14:00,Sunny.,33,12,70,11,0.0 mm,7 (High),6.30,18.22
398,398,Mumbai,NaN,15:00,Sunny.,33,12,70,11,0.0 mm,7 (High),6.30,18.22
399,399,Mumbai,NaN,16:00,Sunny.,33,12,70,11,0.0 mm,7 (High),6.30,18.22

In [24]:
df['Visibility_mm'] = (df['Visibility_mm'].astype(str).str.replace('km', '', regex=False).str.replace('m', '', regex=False).str.strip())
df['Visibility_mm'] = pd.to_numeric(df['Visibility_mm'], errors='coerce')
df

,Unnamed: 0,City,Date,Hour,Temperature,Feels_Like °C,Wind_Speed_km/h,Humidity%,Dew_Point_%,Visibility_mm,Probability of Precipitation,Rain,Snow
0,0,Pune,NaN,1:00,Showers late. Sunny.,29,14,71,22,0.6,7 (High),6.26,18.18
1,1,Pune,NaN,2:00,Showers late. Sunny.,29,14,71,22,0.6,7 (High),6.26,18.18
2,2,Pune,NaN,3:00,Showers late. Sunny.,29,14,71,22,0.6,7 (High),6.26,18.18
3,3,Pune,NaN,4:00,Showers late. Sunny.,29,14,71,22,0.6,7 (High),6.26,18.18
4,4,Pune,NaN,5:00,Showers late. Sunny.,29,14,71,22,0.6,7 (High),6.26,18.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,Mumbai,NaN,12:00,Sunny.,33,12,70,11,0.0,7 (High),6.30,18.22
396,396,Mumbai,NaN,13:00,Sunny.,33,12,70,11,0.0,7 (High),6.30,18.22
397,397,Mumbai,NaN,14:00,Sunny.,33,12,70,11,0.0,7 (High),6.30,18.22
398,398,Mumbai,NaN,15:00,Sunny.,33,12,70,11,0.0,7 (High),6.30,18.22
399,399,Mumbai,NaN,16:00,Sunny.,33,12,70,11,0.0,7 (High),6.30,18.22

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    400 non-null    int64
 1   City                          400 non-null    object
 2   Date                          0 non-null      float64
 3   Hour                          400 non-null    object
 4   Temperature                   400 non-null    object
 5   Feels_Like °C                 400 non-null    Int64
 6   Wind_Speed_km/h               400 non-null    Int64
 7   Humidity%                     400 non-null    object
 8   Dew_Point_%                   400 non-null    object
 9   Visibility_mm                 400 non-null    float64
 10  Probability of Precipitation  400 non-null    object
 11  Rain                          400 non-null    float64
 12  Snow                          400 non-null    float64
dtypes: Int64(2), float64(4), int64(1), object(6)
memory usage: 41.5+ KB

In [26]:
df.rename(columns={'Probability of Precipitation': 'Precip_Prob_Cat'}, inplace=True)
df

,Unnamed: 0,City,Date,Hour,Temperature,Feels_Like °C,Wind_Speed_km/h,Humidity%,Dew_Point_%,Visibility_mm,Precip_Prob_Cat,Rain,Snow
0,0,Pune,NaN,1:00,Showers late. Sunny.,29,14,71,22,0.6,7 (High),6.26,18.18
1,1,Pune,NaN,2:00,Showers late. Sunny.,29,14,71,22,0.6,7 (High),6.26,18.18
2,2,Pune,NaN,3:00,Showers late. Sunny.,29,14,71,22,0.6,7 (High),6.26,18.18
3,3,Pune,NaN,4:00,Showers late. Sunny.,29,14,71,22,0.6,7 (High),6.26,18.18
4,4,Pune,NaN,5:00,Showers late. Sunny.,29,14,71,22,0.6,7 (High),6.26,18.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,Mumbai,NaN,12:00,Sunny.,33,12,70,11,0.0,7 (High),6.30,18.22
396,396,Mumbai,NaN,13:00,Sunny.,33,12,70,11,0.0,7 (High),6.30,18.22
397,397,Mumbai,NaN,14:00,Sunny.,33,12,70,11,0.0,7 (High),6.30,18.22
398,398,Mumbai,NaN,15:00,Sunny.,33,12,70,11,0.0,7 (High),6.30,18.22
399,399,Mumbai,NaN,16:00,Sunny.,33,12,70,11,0.0,7 (High),6.30,18.22

In [27]:
df['Precip_Prob_Cat'] = (df['Precip_Prob_Cat'].astype(str).str.extract(r'(High|Moderate|Low)', flags=re.IGNORECASE)[0].str.title())
df

,Unnamed: 0,City,Date,Hour,Temperature,Feels_Like °C,Wind_Speed_km/h,Humidity%,Dew_Point_%,Visibility_mm,Precip_Prob_Cat,Rain,Snow
0,0,Pune,NaN,1:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26,18.18
1,1,Pune,NaN,2:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26,18.18
2,2,Pune,NaN,3:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26,18.18
3,3,Pune,NaN,4:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26,18.18
4,4,Pune,NaN,5:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26,18.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,Mumbai,NaN,12:00,Sunny.,33,12,70,11,0.0,High,6.30,18.22
396,396,Mumbai,NaN,13:00,Sunny.,33,12,70,11,0.0,High,6.30,18.22
397,397,Mumbai,NaN,14:00,Sunny.,33,12,70,11,0.0,High,6.30,18.22
398,398,Mumbai,NaN,15:00,Sunny.,33,12,70,11,0.0,High,6.30,18.22
399,399,Mumbai,NaN,16:00,Sunny.,33,12,70,11,0.0,High,6.30,18.22

In [28]:
df = df.drop(columns=['Unnamed: 0'])
df

,City,Date,Hour,Temperature,Feels_Like °C,Wind_Speed_km/h,Humidity%,Dew_Point_%,Visibility_mm,Precip_Prob_Cat,Rain,Snow
0,Pune,NaN,1:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26,18.18
1,Pune,NaN,2:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26,18.18
2,Pune,NaN,3:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26,18.18
3,Pune,NaN,4:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26,18.18
4,Pune,NaN,5:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26,18.18
...,...,...,...,...,...,...,...,...,...,...,...,...
395,Mumbai,NaN,12:00,Sunny.,33,12,70,11,0.0,High,6.30,18.22
396,Mumbai,NaN,13:00,Sunny.,33,12,70,11,0.0,High,6.30,18.22
397,Mumbai,NaN,14:00,Sunny.,33,12,70,11,0.0,High,6.30,18.22
398,Mumbai,NaN,15:00,Sunny.,33,12,70,11,0.0,High,6.30,18.22
399,Mumbai,NaN,16:00,Sunny.,33,12,70,11,0.0,High,6.30,18.22

In [29]:
df = df.drop(columns=['Date'])
df

,City,Hour,Temperature,Feels_Like °C,Wind_Speed_km/h,Humidity%,Dew_Point_%,Visibility_mm,Precip_Prob_Cat,Rain,Snow
0,Pune,1:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26,18.18
1,Pune,2:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26,18.18
2,Pune,3:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26,18.18
3,Pune,4:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26,18.18
4,Pune,5:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26,18.18
...,...,...,...,...,...,...,...,...,...,...,...
395,Mumbai,12:00,Sunny.,33,12,70,11,0.0,High,6.30,18.22
396,Mumbai,13:00,Sunny.,33,12,70,11,0.0,High,6.30,18.22
397,Mumbai,14:00,Sunny.,33,12,70,11,0.0,High,6.30,18.22
398,Mumbai,15:00,Sunny.,33,12,70,11,0.0,High,6.30,18.22
399,Mumbai,16:00,Sunny.,33,12,70,11,0.0,High,6.30,18.22

In [30]:
df = df.drop(columns=['Snow'])
df

,City,Hour,Temperature,Feels_Like °C,Wind_Speed_km/h,Humidity%,Dew_Point_%,Visibility_mm,Precip_Prob_Cat,Rain
0,Pune,1:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26
1,Pune,2:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26
2,Pune,3:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26
3,Pune,4:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26
4,Pune,5:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26
...,...,...,...,...,...,...,...,...,...,...
395,Mumbai,12:00,Sunny.,33,12,70,11,0.0,High,6.30
396,Mumbai,13:00,Sunny.,33,12,70,11,0.0,High,6.30
397,Mumbai,14:00,Sunny.,33,12,70,11,0.0,High,6.30
398,Mumbai,15:00,Sunny.,33,12,70,11,0.0,High,6.30
399,Mumbai,16:00,Sunny.,33,12,70,11,0.0,High,6.30

In [31]:
df['Temperature'].unique()

array(['Showers late. Sunny.', 'Passing showers. Mostly sunny.',
       'Showers late. Afternoon clouds.', 'Afternoon clouds.',
       'Showers late. Scattered clouds.', 'Sunny.', 'Mostly cloudy.',
       'Morning clouds.', 'Passing showers. Increasing cloudiness.',
       'Thunderstorms. Cloudy.'], dtype=object)

In [32]:
print(df['Temperature'].value_counts())

Temperature
Sunny.                                     136
Showers late. Afternoon clouds.             48
Thunderstorms. Cloudy.                      48
Showers late. Sunny.                        24
Passing showers. Mostly sunny.              24
Afternoon clouds.                           24
Showers late. Scattered clouds.             24
Mostly cloudy.                              24
Morning clouds.                             24
Passing showers. Increasing cloudiness.     24
Name: count, dtype: int64

In [33]:
df.rename(columns={'Temperature': 'Weather_Condition'}, inplace=True)
df

,City,Hour,Weather_Condition,Feels_Like °C,Wind_Speed_km/h,Humidity%,Dew_Point_%,Visibility_mm,Precip_Prob_Cat,Rain
0,Pune,1:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26
1,Pune,2:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26
2,Pune,3:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26
3,Pune,4:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26
4,Pune,5:00,Showers late. Sunny.,29,14,71,22,0.6,High,6.26
...,...,...,...,...,...,...,...,...,...,...
395,Mumbai,12:00,Sunny.,33,12,70,11,0.0,High,6.30
396,Mumbai,13:00,Sunny.,33,12,70,11,0.0,High,6.30
397,Mumbai,14:00,Sunny.,33,12,70,11,0.0,High,6.30
398,Mumbai,15:00,Sunny.,33,12,70,11,0.0,High,6.30
399,Mumbai,16:00,Sunny.,33,12,70,11,0.0,High,6.30

In [34]:
df['Weather_Condition'] = df['Weather_Condition'].astype(str).str.split('.').str[0].str.strip()
df

,City,Hour,Weather_Condition,Feels_Like °C,Wind_Speed_km/h,Humidity%,Dew_Point_%,Visibility_mm,Precip_Prob_Cat,Rain
0,Pune,1:00,Showers late,29,14,71,22,0.6,High,6.26
1,Pune,2:00,Showers late,29,14,71,22,0.6,High,6.26
2,Pune,3:00,Showers late,29,14,71,22,0.6,High,6.26
3,Pune,4:00,Showers late,29,14,71,22,0.6,High,6.26
4,Pune,5:00,Showers late,29,14,71,22,0.6,High,6.26
...,...,...,...,...,...,...,...,...,...,...
395,Mumbai,12:00,Sunny,33,12,70,11,0.0,High,6.30
396,Mumbai,13:00,Sunny,33,12,70,11,0.0,High,6.30
397,Mumbai,14:00,Sunny,33,12,70,11,0.0,High,6.30
398,Mumbai,15:00,Sunny,33,12,70,11,0.0,High,6.30
399,Mumbai,16:00,Sunny,33,12,70,11,0.0,High,6.30

In [35]:
df.duplicated().sum()

0

In [36]:
df.isnull().sum()

City                 0
Hour                 0
Weather_Condition    0
Feels_Like °C        0
Wind_Speed_km/h      0
Humidity%            0
Dew_Point_%          0
Visibility_mm        0
Precip_Prob_Cat      0
Rain                 0
dtype: int64

In [37]:
df.describe()

       Feels_Like °C  Wind_Speed_km/h  Visibility_mm        Rain
count          400.0            400.0     400.000000  400.000000
mean           30.06             9.54       2.232000    6.276600
std         1.407606         3.970871       4.614652    0.012917
min             28.0              2.0       0.000000    6.260000
25%             29.0              7.0       0.000000    6.270000
50%             30.0              8.0       0.000000    6.280000
75%             31.0             13.0       1.900000    6.290000
max             33.0             16.0      18.000000    6.300000

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City               400 non-null    object
 1   Hour               400 non-null    object
 2   Weather_Condition  400 non-null    object
 3   Feels_Like °C      400 non-null    Int64
 4   Wind_Speed_km/h    400 non-null    Int64
 5   Humidity%          400 non-null    object
 6   Dew_Point_%        400 non-null    object
 7   Visibility_mm      400 non-null    float64
 8   Precip_Prob_Cat    400 non-null    object
 9   Rain               400 non-null    float64
dtypes: Int64(2), float64(2), object(6)
memory usage: 32.2+ KB

In [39]:
df.to_csv('Weather_cleandata.csv', index =False)
df

,City,Hour,Weather_Condition,Feels_Like °C,Wind_Speed_km/h,Humidity%,Dew_Point_%,Visibility_mm,Precip_Prob_Cat,Rain
0,Pune,1:00,Showers late,29,14,71,22,0.6,High,6.26
1,Pune,2:00,Showers late,29,14,71,22,0.6,High,6.26
2,Pune,3:00,Showers late,29,14,71,22,0.6,High,6.26
3,Pune,4:00,Showers late,29,14,71,22,0.6,High,6.26
4,Pune,5:00,Showers late,29,14,71,22,0.6,High,6.26
...,...,...,...,...,...,...,...,...,...,...
395,Mumbai,12:00,Sunny,33,12,70,11,0.0,High,6.30
396,Mumbai,13:00,Sunny,33,12,70,11,0.0,High,6.30
397,Mumbai,14:00,Sunny,33,12,70,11,0.0,High,6.30
398,Mumbai,15:00,Sunny,33,12,70,11,0.0,High,6.30
399,Mumbai,16:00,Sunny,33,12,70,11,0.0,High,6.30